RewriteEngine On

# Verify if the requested file exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, redirect everything to index.php
RewriteRule ^ index.php [QSA,L]
